.review-container {
  background-color: #ecf9f6;
  border-radius: 3rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .ReviewList {
    margin-top: 8rem;
  }
  .review-container {
    background-color: #ecf9f6;
    border-radius: 3rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
  }
}
