.CategoryList {
  list-style-type: none;
}

.cat-item {
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  .CategoryList {
    list-style-type: none;
  }

  .cat-item {
    display: inline-block;
  }
}

@media only screen and (min-width: 2560px) {
  .CategoryList {
    list-style-type: none;
  }

  .cat-item {
    display: inline-block;
    margin: 3rem 0 1rem 0;
  }
}