*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  min-height: 100vh;
}

.app-logo {
  max-width: 100%;
}

.homepage-photo {
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

label {
  margin-top: 0.5rem;
}

input {
  border: 0.1rem solid lightgrey;
  border-style: outset;
  padding: 0.3rem;
  margin-top: 0.5rem;
}

button {
  font-family: "Quicksand", sans-serif;
  border: none;
  color: white;
  background-color: #e3a0ad;
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin-top: 0.8rem;
}

.hyperlink {
  text-decoration: none;
}

.nav-link {
  color: white;
  text-decoration: solid;
}

nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #50716b;
  color: white;
  padding: 0.5rem;
}

/* product page */
.shop-cart-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.shop-div {
  margin-right: 6.5rem;
}

.cart-icon {
  margin-right: 1rem;
}

/* order page */
.checkout-btn {
  margin-bottom: 3rem;
}

.order-refs {
  padding: 1rem;
}

/* order history page */

.order-history-list {
  list-style-type: none;
  text-align: left;
  padding: 1rem;
}

.order-history-li {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  body {
    font-family: "Quicksand", sans-serif;
  }

  .app-logo {
    width: 30%;
    float: right;
  }

  .homepage-photo {
    max-width: 100%;
    margin-top: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
  }

  label {
    margin-top: 0.5rem;
  }

  input {
    border: 0.1rem solid lightgrey;
    border-style: outset;
    padding: 0.3rem;
    margin-top: 0.5rem;
  }

  button {
    font-family: "Quicksand", sans-serif;
    border: none;
    color: white;
    background-color: #e3a0ad;
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin-top: 0.8rem;
  }

  .product-name {
    color: #50716b;
    text-decoration: solid;
  }

  nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #50716b;
    color: white;
    padding: 0.5rem;
  }

  /* product page */
  .shop-cart-container {
    text-align: center;
    justify-content: center;
  }
}
