*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  min-height: 100vh;
}

.app-logo {
  max-width: 100%;
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.homepage-photo {
  max-width: 100%;
}

label {
  margin-top: 0.5rem;
}

input {
  border: 0.1rem solid lightgrey;
  border-style: outset;
  padding: 0.3rem;
  margin-top: 0.5rem;
}

button {
  font-family: "Quicksand", sans-serif;
  border: none;
  color: white;
  background-color: #e3a0ad;
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin-top: 0.8rem;
}

.hyperlink {
  text-decoration: none;
}

.footer {
  margin-bottom: 2.5rem;
}

.footer-link {
  text-decoration: none;
  color: #50716b;
}

.nav-link {
  color: white;
  text-decoration: solid;
}

nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #50716b;
  color: white;
  padding: 0.5rem;
}

/* product page */
.shop-cart-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.shop-div {
  margin-right: 6.5rem;
}

.cart-icon {
  margin-right: 1rem;
}

/* order page */
.checkout-btn {
  margin-bottom: 3rem;
}

.order-refs {
  padding: 1rem;
}

@media only screen and (min-width: 768px) {
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  body {
    font-family: "Quicksand", sans-serif;
  }

  .app-logo {
    width: 25%;
    float: right;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }

  .homepage-photo {
    max-width: 100%;
    margin-top: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
  }

  label {
    margin-top: 0.5rem;
  }

  input {
    border: 0.1rem solid lightgrey;
    border-style: outset;
    padding: 0.3rem;
    margin-top: 0.5rem;
  }

  button {
    font-family: "Quicksand", sans-serif;
    border: none;
    color: white;
    background-color: #e3a0ad;
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin-top: 0.8rem;
  }

  .product-name {
    color: #50716b;
    text-decoration: solid;
  }

  nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #50716b;
    color: white;
    padding: 0.5rem;
  }

  /* product page */
  .shop-cart-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1em 0 4.5rem 0;
  }
}

@media only screen and (min-width: 1024px) {
  /* product page */
  .shop-cart-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2.5em 1rem 6.5rem 0;
  }

  button {
    cursor: pointer;
  }

  nav {
    cursor: pointer;
  }

  .cart-icon {
    cursor: pointer;
  }
}

@media only screen and (min-width: 1440px) {
  /* product page */
  .shop-cart-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 6rem 0 8rem 0;
  }
}
